body{
    /* background-color: black; */
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}

.container{
    width: auto;
    /* background-color: red; */
    padding-bottom: 50px;
    text-align: center;
    height: 100%;
    /* border-top: 10px solid red; */

}


.titulo{
    /* background-color: aqua; */
    border-radius: 50px;
    outline: 5px solid ;
    width: 50%;
    font-size: 3rem;
    padding: 2rem;
    margin: 70px auto;
    box-shadow: 10px 10px 50px ;
}

.envase{
    /* outline: 10px solid blue; */
    width: 90%;
    margin: auto;
    text-align: center;
    /* margin-top: 10%; */

}

.txt{
    font-size: 1.5rem;
    line-height: 2.0;
}


.foto{
    width:20%;
    overflow: hidden;
    border-radius: 50px;
    position: absolute;
    top: 2rem;
}


img{
    width: 100%;
    
}