*{
    margin: 0;
}

.container{
    background-color: red;
    height: 100px;
}


/* 

.container {
    background-color: rgb(0, 0, 0);
    height: 700px;
    margin: 30px auto;
    box-sizing: border-box;
    padding-top: 50px;
    width: 500px;

}

.picures {
    height: 250px;
    width: 250px;
    margin: 15px auto;
    border-radius: 130px;
    display: block;
    overflow: hidden;
}


img {
    display: block;
    object-fit: cover;
    width: 250px;
    height: 250px;
}


.datos {
    background-color: #efb810;
    height: 330px;
    width: 450px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 100px;
}

.nombre , em {
    width: 250px;
    margin: 20px auto;
    text-decoration: underline;

}


em {
    width: 160px;
    font-size: 30px;
    display: block;
}

p {
    text-align: center;
    font-size: 18px;
} */