*{
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}


header{
background-color: red;
padding: 10px;
}

.contendio{
    background-color: green;
    display: flex;
    flex: 1 1 auto;
}

.contendio nav{
    background-color: rgb(31, 31, 31);
    flex: 1 2 auto;
    
}


.container section{
    background-color: lightcoral;
    flex: 2 1 auto;
    
    

}

section ,p{
    display: flex;
    align-items: center;
    justify-content: center;
}



footer{
    background-color: aqua;
    color: black;
    padding: 10px;
}

@media (width <1500px){

    .contendio{
        flex-direction: row-reverse;
    }
}

@media (width <800px){
   

    .contendio{
        flex-direction: column-reverse;
    }
}