:root {
    --base-font-size: 16px;
}




*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body{
    background-color: black;
    color: white;
    font-size: var(--base-font-size);

}

header , footer{
    padding: 20px;
}





.fotos{
    display: flex;
    flex-wrap: wrap;
   
}

.fotos > img{
    width: 0px;
    flex-grow: 1;
    object-fit: contain;
    opacity: 0.8;
    transition: .5s ease;
    display: flex;
    flex-wrap: wrap;

}

.fotos img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}