body{
    background-color: rgb(14, 14, 61);
}



.container{
    width: auto;

    height: 25vh;

    background-color: rgb(255, 211, 79);
    

    margin: 50px 30px;

    outline: 5px solid red;

    border-radius: 30px;

    box-shadow: 10px 10px 10px white;


    border-top: 50px solid white;
}