/*
 DISPLAY OCULTA LA ETIQUETA 
 DISPLAY BLOCK CONVIERTE AL ELEMENTO EN BLOCK
 DISPLAY INLINE CONVIERTE AL EMELMENTO EN LINEA
 DISPLAY INLINE-BLOCK SIGUE SIENDO DE LINEA PERO COMO DE BLOCK

*/





body{
    background-color: black;
}

p{
    background-color: lightcoral;
    
}

a{
    background-color: white;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    display: inline-flex;
    margin-left: 30px;
    margin-top: 50px;
    text-align: center;
  

    
}


h1 , h3{
    color: yellow;
    background-color: red;
    display: inline;

}


h3{
    /* margin-left: 15%;
    margin-top: -50px;
    background-color: aqua */
}