body {
    margin: 0;
}

.container {
    background-color: aqua;
    height: 100px;
    
    /* margin-bottom: 50px; */

    /*Opcion 1*/
    overflow: hidden; 

    /*Opcion 2*/
    /* padding-top: 2px; */

    /*Opcion 3*/
    /* border-top: 1px solid rgb(0, 0, 0);  */

}

.card , .card-2{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    margin: 0 auto;
    margin-bottom: 10px;

    /*Aquitar este elemnto */
    /* margin-top: 10px;  */


}

/* Y Margin colocar un margin-bottom  */
.card{

    margin-bottom: 44px;

}


.control{
    
    background-color: lightcoral;
    min-height: 100px;
    /* overflow: hidden; */
    /* padding-top: 10px; */
    border-top: 10px solid lightcoral;
}

h2{
    color: yellow;
}