* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, blue, rgb(231, 3, 41));

    color: white;
}





.conatiner {
    height: 600px;
    width: 400px;
    margin: 50px auto;
    border-radius: 30px;
    padding-top: 50px;
    outline: 2px solid white;
    box-shadow: 5px 5px 30px;
    background-color: rgb(15, 15, 15);


}


.circulo {
    height: 35%;
    width: auto;
    box-shadow: -2px -2px 5px white, 4px 4px 5px black;
    margin: 0 30px;
    border-radius: 30px;
    padding: 10px;
    background-color:aqua;
}



.cirulo1 {
    background-color: black;
    height: 90%;
    width: 50%;
    margin: auto;
    border-radius: 100px;
    overflow: hidden;
}


.filtro1 {
    width: 15%;
    height: 25%;
    border-radius: 15px;
    margin-left: 10%;

    /* box-shadow: -2px -2px 5px white , 4px 4px 5px black; */

}

.filtro1 , .lote1 , .lote2{
    /* padding: 10px; */
    background-color:aqua;
    box-shadow: -3px -4px 15px white;
}


.lote1 {
    width: 15%;
    height: 25%;
    border-radius: 15px;
    margin-top: -40%;
    margin-left: 45%;
}


.lote2 {
    width: 15%;
    height: 25%;
    border-radius: 15px;
    margin-top: -40%;
    margin-left: 77%;

}

.time{
    text-align: center;
    margin-top: 35%;
    
}

/* h1{
    text-align:  center;
    outline: 1px solid aqua;
    height: 40px;
    width: 50px;
    border-radius: 100px;
} */