body{
    background-color: black;
    color: white;
}


/* .x{
    color: rgb(115, 11, 226);
    font-size: 4rem;
} 


.circulo{
    background-color: red;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 50px;
}


h2{
    font-family: "Bungee Spice", sans-serif; */

*{
    box-sizing: border-box;
}

.conatiner{
    margin: auto;
    background-color: rgb(2, 2, 2);
    height: 600px;
    width: auto;
    margin: 0 150px;
    border-radius: 30px;
    padding-top: 50px;
    position: relative;
    outline: 5px solid white;
    box-shadow: 5px 5px 30px ;
    
    
}


.circulo{
    height: 30%;
    width: auto;
    box-shadow: -2px -2px 5px white , 4px 4px 5px black;
    margin: 0 30px;
    border-radius: 30px;
    padding: 10px;
    outline: 1px solid rgb(22, 22, 22);
}

.cirulo1{
    background-color: aqua;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    border-radius: 100px;
}


.filtro1{
    height: 25%;
    box-shadow: -2px -2px 5px white , 4px 4px 5px black;
    width: 15%;
    position: absolute;
    top: 40%;
    left: 10%;
    border-radius: 15px;
    background-color: black;
    padding: 5px;
    
}

.lote1{
    left: 45%;
}


.lote2{
    left: 80%;
}


h1{
    height: 40%;
    border-radius: 50px;
    border: 5px solid aqua;
}